<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tenners</title>
  <script src="https://kit.fontawesome.com/7ce4f0f707.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  </style>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">