<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>tenners</title>
		<script
			src="https://kit.fontawesome.com/7ce4f0f707.js"
			crossorigin="anonymous"
		></script>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
		</style>

		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		/>

		<link rel="stylesheet" type="text/css" href="./public/css/styles.css" />
	</head>

	<body>
		<nav>
			<div class="ui top menu">
				<a class="item" href="/home">
					<i class="home icon"></i><span>Home</span>
				</a>
				<div class="right menu">
					<a class="ui item" href="/logout"><span>Logout</span></a>
				</div>
			</div>
		</nav>
	</body>
</html>
