<%- include('partials/header') %>

</head>

<body>

    <div class="card-container">
        <h1><%=artist%> Albums</h1>
        <ul>
            <% albums.forEach(function (album) {
            if (album.album_type === 'album') { %>
            <li><a href="/tracks/<%= album.id %>"><%= album.name %></a></li>
            <% } %>
            <% }) %>
        </ul>
    </div>


</body>

</html>