<%- include('partials/header') %>

</head>

<body>
  <nav>
    <h1>Home</h1>
    <a href="/search" role="button">Add Music</a>
    <a href="/logout" role="button">Log Out</a>
  </nav>

  <%- include('partials/header') %>

</head>

<body>


  <%- include('partials/footer') %>