<%- include('partials/header') %>

</head>

<body>
  <nav>
    <ul class="nav-links">
      <a href="/home" class="logo">tenners <i class="fas fa-headphones"></i></a>
      <li class="nav-item"><a href="/logout" role="button">Log Out</a></li>
    </ul>
  </nav>

  <header class="home-header">
    <h1>Your Lists</h1>
  </header>

<ul>
<% lists.forEach(function (list) { %>
  <li><%=list.name%><a href="/<%=list._id%>/add"> Add to List</a></li>
<% }) %>
</ul>


    <form method="POST" action="/newlist">
      <label for="listName">New List: </label>
      <input type="text" id="listName" name="listName">
      <button type="submit">Add</button>
    </form>
  </header>





    <%- include('partials/footer') %>