<%- include('partials/header') %>

</head>

    <div class="ui middle aligned two column centered grid centered-container">
        <div class="row">
            <h1 class="header-text large-header">tenners
                <i class="fas fa-headphones"></i>
            </h1>
        </div>
        <div class="row">
            <div>
                <div class="login-button-container">
                <a class="ui button button-primary" href="/login" role="button">Login</a>
                <a class="ui button button-secondary" href="/register" role="button">Register</a>
            </div>
                <p class="dark-bg-text">For testing purposes, feel free to use email address <strong>abc@123.com</strong> and password <strong>123456</strong>.</p>
            </div>
            
        </div>

    </div>



    <%- include('partials/footer') %>