<%- include('partials/header') %>

</head>

<body>


    <div class="main-container">
        <div class="header">
            <h1 class="header-text">Spotlify
            </h1>
            <i class="fas fa-headphones"></i>
        </div>

        <div class="hero-container">
            <div class="hero">
            </div>
            <div class="search-form">
              <a class="landing-button" href="/register" role="button">Register</a>
              <a class="landing-button" href="/login" role="button">Login</a>
            </div>
        </div>
    </div>




<%- include('partials/footer') %>