<%- include('partials/header') %>

</head>

    <div class="ui middle aligned two column centered grid centered-container">
        <div class="row">
            <h1 class="header-text large-header">tenners
                <i class="fas fa-headphones"></i>
            </h1>
        </div>
        <div class="row">
            <div>
                <a class="ui button" href="/login" role="button">Login</a>
                <a class="ui button" href="/register" role="button">Register</a>
            </div>
        </div>

    </div>



    <%- include('partials/footer') %>