<%- include('partials/header') %>


<div class="ui middle aligned four column centered grid centered-container">
  <header>
    <h1>Register
    </h1>
  </header>
  <form class="ui form stacked-form" action="/register" method="POST">
    <div class="fields">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="username">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
    </div>
    <button type="submit" class="ui button">Register</button>
  </form>
</div>
</div>

</div>

<%- include('partials/footer') %>