<%- include('partials/header') %>

</head>

<body>

  <nav>
    <ul class="nav-links">
      <a href="/home" class="logo">tenners <i class="fas fa-headphones"></i></a>
      <li class="nav-item"><a href="/logout" role="button">Log Out</a></li>
    </ul>
</nav>
<div class="main-container">
    <div class="header">
        <h1 class="header-text">Register
        </h1>
    </div>

    <div class="register-login-container">
      <div class="hero">
      </div>
      <form class="register-login-form" action="/register" method="POST">
        <label for="email">Email</label>
        <input type="email" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit" class="btn-green">Register</button>
      </form>
    </div>
  </div>

  </div>
  </div>

  <%- include('partials/header') %>