<%- include('partials/header') %>

<div class="ui segment">
    <div class="ui middle aligned four column centered grid centered-container">
        <div class="row">
            <header>
                <h1 class="header">Search by Artist</h1>
            </header>
        </div>
        <form class="ui form stacked-form" action="/<%=listId%>/artist-search" method="POST">
            <div class="fields">
                <div class="field">
                    <input type="text" name="artist">
                </div>
            </div>
            <div class="row">
                <button type="submit" class="ui button green margined-button">Search</button>
            </div>
        </form>
    </div>
</div>


<%- include('partials/footer') %>