<%- include('partials/header') %>

</head>

<body>

    <nav>
        <ul class="nav-links">
          <a href="/home" class="logo">tenners <i class="fas fa-headphones"></i></a>
          <li class="nav-item"><a href="/logout" role="button">Log Out</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="header">
            <h1 class="header-text">Search
            </h1>
        </div>
        <div class="hero-container">
            <div class="hero">
            </div>
            <form class="search-form" action="/<%=listId%>/artist-search" method="POST">
                <h2>
                    Search by Artist
                </h2>
                <input type="text" name="artist" />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %>