/* .landing-page {
    width: 100vw;
    height: 100vh;
} */

.centered-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90%;
}

.large-header {
    font-size: 11vw;
}

.medium-header {
    font-size: 7vw;
}

/* .hidden {
    display: none;
} */