body {
    background-color: #0E1117;
}

i, p, .item * {
    color: #e5e7ea;
}

p {
    font-size: 1rem;    
}

.large-header, .large-header *{
    color: #b16f6f;
}

.ui.menu {
    background-color: #353637;
}

.login-button-container  {
    margin-bottom: 1.5rem;    
}

.button.button-primary {
    background-color: #ffa0a0;
    color: #0F1117;
}

.button.button-primary:hover, .button.button-primary:active{
    background-color: #E68787;
}

.button.button-secondary {
    background-color: #97a3b9;
    color: #0F1117;
}

.button.button-secondary:hover, .button.button-secondary:active {
    background-color: #7E8AA0;
}

.dark-bg-text {
    color: #898989;
}


/* .landing-page {
    width: 100vw;
    height: 100vh;
} */

.centered-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90%;
}

.large-header {
    font-size: 12rem;
}

.medium-header {
    font-size: 4rem;
}

.terracotta {
    color: #b16f6f;
}

/* .hidden {
    display: none;
} */

.ui.inverted.form label {
    color: #9f9f9f;   
}

.login-form-container {
    padding: 1rem 6rem;
}

.ui.inverted.form input[type=email], .ui.inverted.form input[type=password] {
    background-color: #18181a;
    border-color: #393b3e;
}

.ui.form .fields {
    padding: 1rem 0 0.5rem 0;
}