html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Montserrat', sans-serif;
}


body {
  background-color: #dadada;
}

a {
  text-decoration: none;
}

header {
  padding-top: 60px;

}

.centered {
    padding-top: 200px;
    text-align: center;
}

body {
  margin: 0;
}

.main-container {
  height: 80vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}

.header-text {
  margin: 1rem 1rem 1rem 0;
}

.header-text, .fa-headphones {
  font-size: 5vw;
}

.hero-container {
  width: 70vw;
  max-width: 700px;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: [hero] 1.3fr [form] 1fr;
  grid-template-rows: [hero] 1fr [form] 3fr;
  grid-template-areas: 
  'hero search-form'
  'hero search-form'
}

.hero {
  background-image: url('https://static01.nyt.com/images/2019/06/08/arts/08tylerkevin-review1/merlin_155744586_58e436e2-d1d2-44e0-b516-573ab5031e47-superJumbo.jpg');
  background-position: center;
  background-size: cover;
  grid-area: hero;

}

.search-form {
  grid-area: search-form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form > h2 {
  color: lightgray
}

.search-form > input, button {
  border: 0;
  height: 10%;
  border-radius: 2px;
}

.search-form > input {
  background-color: #747474;
  font-size: 1rem;
  width: 75%;
}

.search-form > button {
  background-color: #e5ff51;
  margin-top: 1rem;
  font-size: 1rem;
  width: 60%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.card {
  width: 200px;
  height: 300px;
  display: grid;
  background-color: #f5f5f5;
}

.card img {
  width: 100%;
  max-height: 200px;
}

.landing-hero {
    background-image: url('https://static01.nyt.com/images/2019/06/08/arts/08tylerkevin-review1/merlin_155744586_58e436e2-d1d2-44e0-b516-573ab5031e47-superJumbo.jpg');
    background-position: center;
    background-size: cover;
    grid-area: hero;
}

.landing-button {
  font-size: 5vw;
  color: white;
  margin-bottom: 2vh;
}

.landing-button:link, .landing-button:visited {
  color: white;
}

.landing-button:hover, .landing-button:active {
  color: rgb(238, 255, 0);
}

.btn-green {
  background-color: rgb(238, 255, 0);
}

.register-login-container {
  width: 70vw;
  max-width: 700px;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: [hero] 1.3fr [register-form] 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'hero register-form'
}

.register-login-form {
  grid-area: register-form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.register-login-form label {
  color: white;
  margin-bottom: 1vh;
}

.register-login-form input {
  margin-bottom: 2vh;
}

.home-card-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  max-width: 1000px;
  grid-gap: 25px
}

.home-card {
  width: 200px;
  height: 320px;
  -webkit-box-shadow: 5px 5px 13px 3px rgba(0, 0, 0, 0.288); 
box-shadow: 5px 5px 13px 3px rgba(0, 0, 0, 0.288);
margin-bottom: 1rem;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: #f5f5f5;
}

.home-card img {
  width: 100%;
  max-height: 200px;
  align-self: flex-start;
}

.home-card h3, p {
  margin: 0;
}


nav {
  width: 100vw;
  background-color: #D6EFFF;
  position: fixed;
  -webkit-box-shadow: 0px 11px 5px -5px rgba(0, 0, 0, 0.158);
  -moz-box-shadow: 0px 11px 5px -5px rgba(0, 0, 0, 0.158);
  box-shadow: 0px 11px 5px -5px rgba(0, 0, 0, 0.158);
}

.nav-links {
  margin: 0;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.nav-links a:link, .nav-links a:visited {
  color: black;
}

.nav-links a:hover, .nav-links a:active {
  color: grey;
}

.nav-links li{
  list-style-type: none;
  margin: 0 1rem;
}

.nav-links, .nav-links .fa-headphones{
  font-size: 2.5rem;
}

.green-button {
  width: 100px;
  height: 25px;
  background-color: #e5ff51;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288); 
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288);
}

.green-button a:link, .green-button-sm a:visited {
  color: black;
}

.green-button-sm {
  width: 50px;
  height: 25px;
  background-color: #e5ff51;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288); 
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288);
}

.green-button-sm {
  font-size: 0.5rem;
}

.red-button-sm {
  width: 50px;
  height: 25px;
  background-color: rgb(255, 96, 96);
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288); 
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.288);
}

.red-button-sm {
  font-size: 0.5rem;
}

.green-button-sm a:link, .green-button-sm a:visited {
  color: black;
}

.home-header {
  width: 100vw;
  display: grid;
  justify-items: center;
  margin-bottom: 2rem;
}

.card-album-details {
  display: flex;

}